name: Lint JS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node (required for ESLint)
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install ESLint globally
        run: npm install -g eslint

      - name: Run ESLint
        run: eslint .
