name: Lint JS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install ESLint globally
        run: npm install -g eslint

      - name: Run ESLint without config
        run: npx eslint . --no-eslintrc --env browser --env es2021 --rule "semi: [2, always]" --rule "quotes: [2, double]"
